extends layout

block mainContent
    #app
        li(rv-each-t="test") [[t]]
        h1 Welcome
        p Trevor
block scriptList
    script(src='/public/ts/index/bundle.js')
    script.
        console.log(rivets)